* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: #ebebeb;
    width: 100%;
}


main {
    padding: 0 4.8em;

}

header {
    background-color: black;
    border-bottom: 1px solid #ffffff38;
}


/*////////////////////////////////////////// SESSÃO NAVBAR */


#form-header-search {
    flex-direction: column;
    position: relative;
    left: 216px;
}

.navbar-brand {
    position: relative;
    bottom: 22px;
    left: 60px;
    margin: 0 !important;
    padding: 0 !important;
    width: 82px;
    height: 36px;
}

.navbar-brand img {
    width: 200px;
}

.navbar-nav {
    color: white;
}

.container-fluid {
    padding: .4em;
}

.nav-link {
    color: white !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: darkgoldenrod !important;
}


#input-search {
    border-radius: inherit;
    width: 40vw;
    font-family: inherit;
    box-shadow: 1px 1px 1px 1px #ffffff61;
}

#search-content-icon {
    border-left: 1px solid gainsboro !important;
    box-shadow: 1px 1px 1px 1px #ffffff61;
    border-radius: inherit;
    background-color: white;
    cursor: pointer;
}

.navbar-nav a {
    padding: 0;
    padding-top: 1em;
    font-size: small;
    opacity: .8;
}

.patrocinio-header {
    position: relative;
    bottom: 14px;
    left: 280px;
    display: flex;
    flex-direction: column;
}


.patrocinio-header img {
    width: 200px;
}

.list-patrocionio-header {
    display: flex;
    list-style: none;
    font-size: 13px;
    color: darkgray;
    padding: 0;
    margin: 0;
    position: relative;
    height: 7px;
    top: 23px;
    left: 12px;
    align-items: center;
    cursor: pointer;
}

.list-patrocionio-header li {
    margin: 0 .8em;
    font-weight: 500;
}

/*//////////////////////////////////////////// SESSÃO SLIDE SITE  */

.carousel-inner {
    height: 57vh;
    margin-bottom: 2em;
}



/*///////////////////////////////////////// SESSAO PLANOS PAGAMENTOS */

.plans-container {
    display: flex;
    justify-content: center;
    padding: .2em;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #999;
    border-radius: 4px;
}

.plans1 {
    border-left: 3px solid #3483fa;
}

.plans1 p {
    color: #999;
    font-size: 14px;
}

.plans1,
.plans2,
.plans3,
.plans4 {
    width: 28%;
    padding: .6em;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    border-right: 1px solid gainsboro;
}

.plans3 {
    display: grid;
    grid-template-columns: 70px 80px;
    align-items: flex-start;
    justify-items: center;

}

.plans2 {
    display: grid;
    grid-template-columns: 58px 247px;
    align-items: flex-start;
    justify-items: center;
}

.plans2 img {
    width: 87%;
    position: relative;
    bottom: 8px;
}

.plans2 a {
    position: relative;
    left: 90px;
    width: 92px;
    text-decoration: none;
    bottom: 20px;
    font-size: 15px;
}

.plans3 img {
    width: 71%;
    position: relative;
    bottom: 8px;
}

.plans3 a {
    position: relative;
    left: 82px;
    width: 78px;
    font-size: 15px;
    bottom: 20px;
    text-decoration: none;
}

.plans4 {
    display: grid;
    grid-template-columns: 43px 45px;
    align-items: flex-start;
    justify-items: center;
}


.plans4 img {
    width: 80%;
    position: relative;
    bottom: 2px;
}


.plans4 a {
    position: relative;
    left: 73px;
    text-decoration: none;
    bottom: 15px;
    width: 83px;
    font-size: 15px;
}

/*////////////////////////////////////////// SESSÃO OFERTAS DO DIA  */

.sales-day-title {
    margin-top: 2.8em;
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.sales-day-title h2 {
    color: #666;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 0;
    font-size: 29px;
}

.sales-day-title a {
    text-decoration: none;
    font-size: 15px;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    padding-inline-start: 1em;
}

.slide-main {
    position: relative;
    height: 100%;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 5em;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-wrapper {
    width: 30% !important;
}


.swiper-slide img {
    display: block;
    width: 100%;
}

/*///////////////////////////////////// SESSÃO TVS */
.artg-main {
    margin-bottom: 4.5em;
}


#container-geral-assinantes {
    box-shadow: 2px 2px 2px #999;
    margin-bottom: 2em;
}

#header-assinantes {
    padding: .6em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #084298 55%, #0c1a51);
    font-family: 'Poppins', sans-serif;
}

#header-assinantes h3 {
    padding: 1em;
    position: relative;
    top: 5px;
    margin: 0;
}

#header-assinantes img {
    width: 150px;
}

#content-assinante {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-bottom: 1px solid gainsboro;
}

#content-assinante div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
}

#content-assinante img {
    width: 50px;
}

#img-disney {
    position: relative;
    bottom: 14px;
    width: 100px !important;
}

#img-amazon {
    width: 100px !important;
}

.btn-assinantes {
    font-family: 'Poppins', sans-serif;
    padding: 1.5em;
}

.btn-assinantes a {
    padding: .8em;
    width: 15%;
}



/*/////////////////////////////////////////////// SESSAO BENEFICIOS */
.main-beneficios-slide {
    margin-bottom: 4em;
}

.container-geral-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.subContainer-slide {
    max-width: 90vw;
}

.container-slide {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.container-slide .carousel {
    display: flex;
    scroll-behavior: smooth;
}

.container-slide .carousel .item {
    width: 320px;
}

.container-slide .carousel .item .image img:hover {
    border: 1px solid white;
    cursor: pointer;
}



.container-slide .carousel .item .image img {
    width: 298px;
    height: 380px;
    border-radius: 20px;
    object-fit: cover;
}

.container-slide::-webkit-scrollbar {
    display: none;
}


.item {
    animation: slide 100s steps(2800) alternate infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-238vw);
    }

}




/*/////////////////////////////////////// SESSÃO PROMOÇOES DO DIA */
.container-promo {
    margin-bottom: 4em;
}

.subcontainer-promo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.content-firt-img {
    align-items: center;
    display: flex;
    background-color: white;
    min-width: 590px;
}

.two-img-promo img {
    width: 290px;
    height: 240px;
}

.content-two-img {
    display: flex;
    background-color: white;
    align-items: center;
    min-width: 590px;
}

.fourth-img-promo img {
    height: 240px;
    width: 290px;
}

/*///////////////////////////////// SESSÃO LOJAS  MERCADO */
.melhores-lojas {
    margin-bottom: 4em;
}

.lojas-sales {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}

.lojas-sales img {
    height: 95px;
}

.logo-lojas {
    position: relative;
    left: 105px;
    bottom: 37px;
    width: 80px;
}

.logo-lojas img {
    width: 80px;
}

/*///////////////////////////////////// SESSÃO PRODUTOS A VENDAS  */
.sect-produtos-img {
    margin-bottom: 5em;
}

.content-produtos {
    display: flex;
    align-items: center;
}

.content-img-produtos {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    row-gap: 10px;
    height: 365px;
    column-gap: 10px;
    margin-inline-start: 1.2em
}


#container-card-produto {
    width: 400px;
}

#img-produto-card {
    width: 400px;
    height: 250px;
    object-fit: contain;
}

.img-first-produto {
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.img-first-produto img {
    width: 100%;
    height: 97%;
    border-radius: 10px;
}


/*//////////////////////////////////// SESSAO CATEGORIAS */
.sect-categorias {
    margin-bottom: 5em;
}

.content-categorias {
    display: flex;
    width: 1195px;
    align-items: center;
    flex-wrap: wrap;
}

.img-opcoes {
    width: 170px;
    height: 170px;
    border: 1px solid #999;
}

.img-opcoes img {
    width: 170px;
    height: 170px;
    border: 1px solid #999;
}

/*///////////////////////////////////// SESSAO OFERTAS FINAL  */
.sect-ofertas {
    background-color: white;
}

.container-oferta-final {
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}

.icon-serve {
    background-color: white;
    display: flex;
    width: 396px;
    padding: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid gainsboro;
}


.icon-serve img {
    width: 80px;
}

/*///////////////////////////////////// SESSAO FOOTER */
.footer-container {
    display: flex;
    background-color: white;
    justify-content: center;
}

.footer-container details {
    text-align: center;
}

.container-geral-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footer-exterior {
    border-top: 1px solid gainsboro;
    background-color: white;
}

.text-footer-ext ul {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    column-gap: 25px
}

.text-footer-ext p {
    margin: 0;
    color: #999;
    font-size: 13px;
    text-indent: 60px;
}


.text-footer-ext ul a {
    text-decoration: none;
    font-size: 14px;
}